.profile {
  max-width: 800px;
  margin: 0 auto;

  .avatar {
    text-align: center;
    margin-bottom: 24px;

    :global {
      .ant-upload {
        margin: 0;
        width: 100px;
        height: 100px;
      }
    }
  }

  .form {
    max-width: 500px;
    margin: 0 auto;
  }
} 