.feedbackList {
  .searchForm {
    margin-bottom: 24px;

    :global {
      .ant-form-item {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
          margin-right: 0;
        }
      }
    }
  }

  .table {
    :global {
      .ant-table-pagination {
        margin-top: 16px;
      }
    }
  }

  .replyModal {
    .feedbackInfo {
      margin-bottom: 24px;
      padding-bottom: 16px;
      border-bottom: 1px solid #f0f0f0;

      p {
        margin-bottom: 8px;
        line-height: 1.5;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .images {
        margin-top: 16px;

        strong {
          display: block;
          margin-bottom: 8px;
        }
      }
    }

    .replyForm {
      p {
        margin-bottom: 8px;
      }
    }
  }
} 